.product_table{
    padding: 16px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

button{
    padding: 8px;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.table{
    border: 1px solid #333;
    border-collapse: collapse;
}

.table_caption{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 16px;
}

.table td,
.table th{
    border: 1px solid #333;
    padding: 20px 16px;
    text-align: center;
}

.table td:last-child,
.table th:last-child{
    min-width: 100px;
}
.table td a{
    text-decoration: none;
}
.table td img{
    width:50px;
    height: 50px;
}

.table td button{
    margin-bottom: 4px;
    margin-right: 4px;
}