.form_input{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
}

.form_body{
    width: 50%;
    height: auto;
    z-index: 1;
    background-color: white;
    padding: 40px 16px 20px;
    position: relative;
    border-radius: 6px;
}

.close_image{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 5px;
}

.close_image:hover{
    cursor: pointer;
}

.form_header{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.form-group{
    display: flex;
    align-items: center;
}

.form-group label{
    margin: 0;
    display: inline-block;
    min-width: 100px;
}

.form_btn{
    display:flex;
    justify-content: center;
}

.btn{
    margin-right: 8px;
}


